<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137794670-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-137794670-1');
    </script>



    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NewGround</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../css/style.css" rel="stylesheet">

    <!-- The favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../favicon-16x16.png">
    <link rel="manifest" href="../../site.webmanifest">
    <link rel="mask-icon" href="../../safari-pinned-tab.svg" color="#1f6fa4">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">
</head>

<body onload='LoadPageEng()'>
    <div id="page_header"></div>
    <div class="container text-border">
        <div class="about-text-container text-border">
            <div class="text-center">
                <h2 class="block-caption">Architecture</h2>
            </div>

            <h4>Experience in Architectural Improvements</h4>
            <p>We have experience of improving legacy architecture at low cost with 2.5 times performance improvement.
                This expertise includes enhancing the efficiency and functionality of existing systems without incurring
                high expenses. Our proficiency extends to building distributed, large-scale, and high-load cloud-based
                services. By leveraging the power of the cloud, we ensure seamless scalability and optimized performance
                for your applications.
            </p>
            <h4>Cloud Migration and Optimization</h4>
            <p>
                Our team possesses a wealth of experience in moving legacy on-premises solutions into the cloud. This
                migration process not only enables better cost optimization but also enhances overall system
                availability. We carefully plan and execute the transition, ensuring minimal disruption while maximizing
                the benefits of cloud technologies.
            </p>
            <h4>Architecture Evaluation and Consultation</h4>
            <p>
                One of our core competencies lies in architecture evaluation. We thoroughly assess legacy systems,
                identifying potential or existing performance bottlenecks. Our team then devises cost-effective
                solutions to eliminate these bottlenecks, guaranteeing optimal performance and resource utilization.
                Additionally, we offer platform strategy consulting, providing you with well-informed choices of
                technologies that align with your IT solution's requirements. Whether it's handling increased workloads
                or adopting modern industry standards, we have the expertise to support your software projects' ongoing
                success.
            </p>
        </div>
    </div>
    <div id="contacts_form"></div>
    <div id="page_footer"></div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.4/jquery.nicescroll.min.js"></script>
    <script src="../js/script.js"></script>
    <script>
        $(function () {
            $("#page_header").load("header.html");
            $("#page_footer").load("footer.html");
            $("#contacts_form").load("contacts_form.html");
        });
    </script>
</body>

</html>