<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137794670-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-137794670-1');
    </script>



    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NewGround</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../css/style.css" rel="stylesheet">

    <!-- The favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../favicon-16x16.png">
    <link rel="manifest" href="../../site.webmanifest">
    <link rel="mask-icon" href="../../safari-pinned-tab.svg" color="#1f6fa4">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">
</head>

<body onload='LoadPageEng()'>
    <div id="page_header"></div>
    <div class="container text-border">
        <div class="about-text-container text-border">
            <div class="text-center">
                <h2 class="block-caption">Consulting</h2>
            </div>
            <h4>STRATEGIC PLANNING</h4>
            <p>
                Based on more than 20 years of experience, our team of architects and
                business analysts offer organizing workshops with client deep
                involvement for assessing business needs, generating ideas and
                directions of improvements, discussing and planning next steps for
                implementation of set goals. Every step of this planning stage and
                following ones is fixed with appropriate documents which IP rights
                belong to the client.
            </p>
            <h4>ARCHITECTURAL PLANNING</h4>
            <p>
                When strategic goals are set, we propose following planning steps of
                architecture development, infrastructure planning, general
                technological and platform development stack. All these plans are to
                be developed tightly with assessing clients current organisational and
                technical possibilities and facilities.
            </p>
            <h4>OPERATIONAL AND IMPLEMENTATION PLANNING</h4>
            <p>
                Working on these planning stage we offer production plan, development
                team structure, costs estimation plan, deployment and maintenance
                plans. Every planning stage or prepared document, concept paper or
                production plan, can be considered and ordered as a separate service
                unit.
            </p>
        </div>
    </div>
    <div id="contacts_form"></div>
    <div id="page_footer"></div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.4/jquery.nicescroll.min.js"></script>
    <script src="../js/script.js"></script>
    <script>
        $(function () {
            $("#page_header").load("header.html");
            $("#page_footer").load("footer.html");
            $("#contacts_form").load("contacts_form.html");
        });
    </script>
</body>

</html>