<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137794670-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-137794670-1');
    </script>



    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NewGround</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../css/style.css" rel="stylesheet">

    <!-- The favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../favicon-16x16.png">
    <link rel="manifest" href="../../site.webmanifest">
    <link rel="mask-icon" href="../../safari-pinned-tab.svg" color="#1f6fa4">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">
</head>

<body onload='LoadPageEng()'>
    <div id="page_header"></div>
    <div class="container ">
        <div class="about-text-container text-border">
            <div class="text-center">
                <h2 class="block-caption">Development</h2>
            </div>

            <h4>Technical Analysis and System Landscape Evaluation</h4>
            <p>We analyze your existing systems to gain valuable insights into their structure and functioning. This
                technical analysis helps us understand the possibilities of incorporating modern technologies into your
                system landscape. By identifying feasible and sensible technological changes, we pave the way for a more
                advanced and efficient software solution.
            </p>
            <h4>From Requirements Analysis to Software Architecture</h4>
            <p>
                As the next step, we conduct a thorough requirements analysis, aligning the planned software solution
                with your specific goals and technical specifications. With a clear understanding of your needs, we then
                proceed to conceptualize the software architecture. Our team creates drafts for designs and user
                experiences (UX), ensuring that the end product not only meets your functional requirements but also
                delivers a seamless and intuitive user experience.
            </p>
            <h4>Clean Code, Continuous Testing, and Quality Management</h4>
            <p>
                Once the analysis and design stages are complete, we set out to bring your plans and functional
                requirements to life through clean code development. Our experts carefully select the most suitable
                technology for your business processes and system landscape, ensuring a robust and scalable custom
                software solution. 
            </p>
            <p>
                Throughout the development process, we prioritize code quality by implementing continuous testing and
                adhering to strict quality management practices. This ongoing monitoring and evaluation guarantee a
                reliable and high-performing software solution that aligns perfectly with your business objectives.
            </p>
        </div>
    </div>
    <div id="contacts_form"></div>
    <div id="page_footer"></div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.4/jquery.nicescroll.min.js"></script>
    <script src="../js/script.js"></script>
    <script>
        $(function () {
            $("#page_header").load("header.html");
            $("#page_footer").load("footer.html");
            $("#contacts_form").load("contacts_form.html");
        });
    </script>
</body>

</html>