<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137794670-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-137794670-1');
    </script>



    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NewGround</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../css/style.css" rel="stylesheet">

    <!-- The favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../favicon-16x16.png">
    <link rel="manifest" href="../../site.webmanifest">
    <link rel="mask-icon" href="../../safari-pinned-tab.svg" color="#1f6fa4">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">
</head>

<body onload='LoadPageEng()'>
    <div id="page_header"></div>
    <div class="container  margin-from-header about-text-container ">
        <h1 class="text-center">Introduction of Kubernetes</h1>
        <div class="row block-item text-border text-center">
            <h2>Why you need Containers?</h2>
            <div class="col-lg-4">
                <h3>Faster Time To Market</h3>
                <p>Newer applications and services are what keep your competitive edge.
                    Organizations are able to triple their speed (300 percent) to deliver new services with
                    development and operational gracefulness.
                    Containerization breaks down barriers for DevOps groups to accelerate readying times and
                    frequency.
                </p>
            </div>
            <div class="col-lg-4 ">
                <h3>IT Infrastructure Reduction</h3>
                <p>Reduce your prices 40 % by increasing your
                    application work density, recovering utilization of
                    your server reason density and reducing package licensing prices.
                </p>
            </div>
            <div class="col-lg-4">
                <h3>IT Operational Potency</h3>
                <p>Gain 40 % operational efficiency by streamlining and automating the management
                    of various applications and infrastructure into one operational model.
                </p>
            </div>
        </div>
        <div>
            <h4>What is Kubernetes?</h4>
            <p>Kubernetes, designed by Google and currently maintained by the Cloud Native Computing Foundation, is an
                open-source container-orchestration system. It helps in automating application deployment, scaling, and
                management.
            </p>
            <h4>Why Organization Should use Kubernetes?</h4>
            <ul>
                <li>Scalability and Resource Management</li>
                <li>Accelerated Development and Product Delivery</li>
                <li>Multi-cloud, Bare-metal and Hybrid Cloud Flexibility</li>
                <li>Improved Availability and Fault Tolerance</li>
            </ul>
        </div>
    </div>
    <div class="container text-center work-area">
        <div class="row block-item">
            <div  class="col-md-6 text-left text-border ">
                <h3>What can Kubernetes do?</h3>
                <ul>
                    <li>
                        <h4>Orchestration the Deployment and Rollout Management</h4>
                        <p> Describe your containers and the way several you wish with a “Deployment.” Kubernetes can
                            keep those containers running and handle deploying changes (such as change the image or
                            application variables) with a “rollout.” You will pause, resume, and rollback changes as you
                            prefer.
                        </p>
                    </li>
                    <li>
                        <h4>Resource Bin Packing</h4>
                        <p>You'll declare minimum and most figure resources (CPU and memory) for your containers.
                            Kubernetes can slot your containers into nodes wherever they match. This will ultimately
                            lowers prices.
                        </p>
                    </li>
                    <li>
                        <h4>Inbuilt Service Discovery and Autoscaling</h4>
                        <p>Kubernetes will mechanically expose your containers to the web or alternative containers
                            within the cluster. It load balances traffic across matching containers. Kubernetes supports
                            service discovery via metadata and DNS, out of the box. You'll conjointly tack together
                            CPU-based autoscaling for containers to mitigate inflated resource utilization.
                        </p>
                    </li>
                    <li>
                        <h4>Heterogeneous Clusters</h4>
                        <p>Kubernetes runs anyplace. You'll build your Kubernetes cluster for a combination of virtual
                            machines (VMs) running the cloud, on-premises, or bare-metal in your Datacentre. Merely opt
                            for the composition in keeping with your needs.
                        </p>
                    </li>
                    <li>
                        <h4>Persistent Storage</h4>
                        <p>Kubernetes includes support for persistent storage connected to application containers.
                            There's support for any cloud provider storages or we can implement bare-metal cluster
                            storage for you.
                        </p>
                    </li>
                    <li>
                        <h4>High Convenience Options</h4>
                        <p>Kubernetes is planet scale. This needs special attention to high-availability options like
                            multi-master or cluster federation. Cluster federation permits linking clusters along in
                            order that if one cluster goes down, containers will mechanically move to a different
                            cluster.
                        </p>
                    </li>
                </ul>
            </div>
            <div style="background-color: white;" class="col-md-6 text-left text-border">
                <h3>What our distribution will offer?</h3>
                <p>To turn Kubernetes into a ready-to-use box it’s should to be expanded with the following services</p>
                <ul>
                    <li>
                        <h4>CI/CD </h4>
                        <p> GitLab is a platform for version control and collaboration in software development. GitLab
                            CI is a built-in continuous integration tool that automates building, testing, and deploying
                            code changes.
                        </p>
                    </li>
                    <li>
                        <h4>Application Management and Operations</h4>
                        <p>ArgoCD is a specialized open-source tool for deploying and managing applications in
                            Kubernetes clusters using GitOps. The ArgoCD UI offers a user-friendly interface with
                            visualizations and easy navigation where developers can control and change their
                            applications behaviour and state.
                        </p>
                    </li>
                    <li>
                        <h4>Monitoring, Observability, Alerting</h4>
                        <p>Prometheus is a monitoring toolkit for collecting and storing time-series data from cluster
                            component and application’s metrics, Grafana is a data visualization and monitoring
                            platform, and Loki is a log aggregation system for searching and analyzing application and
                            cluster logs.
                        </p>
                    </li>
                    <li>
                        <h4>SSO (Single Sign-on), Centralized Authentication service</h4>
                        <p>Keycloak is an open-source identity and access management (IAM) solution that provides
                            authentication, authorization, and single sign-on capabilities (SSO) for web and mobile
                            applications. It simplifies the management of user identities, allowing organizations to
                            secure their applications and control access to resources efficiently.
                        </p>
                    </li>
                    <li>
                        <h4>Built-in Container Registry</h4>
                        <p>In Kubernetes, a Docker registry is a repository for storing container images used by
                            Kubernetes clusters for deployment and management of containers. It facilitates the sharing
                            and distribution of container images within the Kubernetes ecosystem.
                        </p>
                    </li>
                    <li>
                        <h4>GPU acceleration</h4>
                        <p>GPU acceleration in Kubernetes leverages Graphics Processing Units (GPUs) to enhance the
                            performance of computationally intensive workloads, enabling faster execution and improved
                            efficiency for tasks like machine learning and data processing.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container  about-text-container ">
        <div>
            <h4>Advantage of Kubernetes</h4>
            <ul>
                <li>Leveraging the immense capabilities of Kubernetes and its expansive architecture will
                    significantly enhance your productivity.
                </li>
                <li>Kubernetes and a cloud-native technical school stack attracts talent.</li>
                <li>Kubernetes presents itself as a forward-looking and future-proof solution.</li>
                <li>Kubernetes helps to form your application run additional stable.</li>
                <li>Kubernetes is cheaper than its alternatives.</li>
                <li>Orchestrate containers on multiple hosts.</li>
            </ul>
            <h4>Features of Kubernetes</h4>
            <ul>
                <li>Automatic Binpacking</li>
                <li>Service Discovery & Load Balancing</li>
                <li>Storage Orchestration</li>
                <li>Applications Self Healing</li>
                <li>Secret & Configuration Management</li>
                <li>Batch Execution</li>
                <li>Horizontal Scaling</li>
                <li>Automatic Rollbacks & Rollouts</li>
            </ul>
        </div>
    </div>

    <div id="contacts_form"></div>
    <div id="page_footer"></div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.4/jquery.nicescroll.min.js"></script>
    <script src="../js/script.js"></script>
    <script>
        $(function () {
            $("#page_header").load("header.html");
            $("#page_footer").load("footer.html");
            $("#contacts_form").load("contacts_form.html");
        });
    </script>
</body>

</html>